.dark textarea,details,a,input,select,div {
    background: var(--card);
    color: var(--text);
}
.dark button {
    background:var(--btn);
    color: var(--text);
    border-radius: 5px;
    transition: 0.3s;
    }

.dark card {
  background: var(--card);
  padding: 20px;
  margin-top: 20px;
  transition: 0.3s;
}

.dark {
  --bg: #111;
  --text: #eee;
  --card: #222;
  --btn: #616161;
}